@page "/Ejercicio-3"
@using System;
@using System.Collections.Generic;
@using System.Text;

<h1 class="text-center">Ejercicio #3</h1>
<div class="container">
    <div class="row">
        <p>Programa que acepte un numero de una cedula dominicana y determine si es valida. (sin usar api).</p>
    </div>
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Introduzca una cedula" type="text" @bind="cedula" maxlength="11" />
        </div>
        <div class="col">
            <button class="btn btn-dark" @onclick="Verified">Verificar</button>
        </div>
    </div><br />
    <div class="col justify-content-center">
        <ul class="list-group">
            <li class="list-group-item text-center">
                <p>@result</p>
            </li>
        </ul>
    </div>
</div>

@code { 
    public string cedula {get; set;}
    public long ced {get; set;}
    public string result {get; set;}

    public void Verified() 
    {
        result = Validation(cedula);
    }

    public string Validation(string cedula)
    {
        var res = "";
        @* string[] abc = ""; *@

        try
        {            
            ced = Convert.ToInt64(cedula);
            if(cedula.Length == 11)
            {
                @* abc = split.cedula('');
                Console.WriteLine(abc); *@
            }
            else 
            {
                res = "Le falta el digitos para ser una cédula dominicana";
            }
        }
        catch (System.Exception)
        {            
            res = "No se pudo validar de ninguna manera esta cédula";
        }

        return res;
    }
    //res = "No es una cédula dominicada valida";
    //res = "Es una cédula dominicana valida";  
}
